
  .saveBtn {
    border: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: lightgray;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: #ACD3FF ;
  }

  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: white;
    
  }

  textarea{
    background: #53A4FF;
    border: none;
    resize: none;
    color: white;
    border: 1px solid black;
    padding: 10px;
  }
  
  .present {
    background-color: #D93232;
    color: white;
  }
